// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Bootstrap
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/dist/bootstrap-vue.css";


// Bulma
//@import "~bulma";



html, body{
  height: 100vh;
}
.modal-content{
  padding: 10px;
}
body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
$footerHeight: 30px;
$navHeight: 56px;
.content {

  padding: $navHeight 0 20px;
  min-height: calc(100vh - 24px);



}
.hide-scrollbar{

  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;  // Safari and Chrome
}
#resume{
  padding-top: 1rem;
  padding-left: 290px;
  @media (max-width: 768px) {

    padding:0;
    margin:0;
    #resume-main{
      padding:2rem;
    }
  }
  .col-date{
    padding-right:15px;
  }

}
h2{
  @extend .thead-dark;
}
#resume-sidebar {
  @extend .hide-scrollbar;
  @media (max-width: 768px) {
    margin-bottom:1rem;
    padding-top: 0;
    min-width: 100%;
    max-width: none;
    position: relative;
  }
  @media (max-width: 259px){
    padding-top: 40px;
  }
  top: 0;
  left: 0;
  padding: 65px 10px 50px;
  bottom: 0;
  font-size: smaller;
  position: fixed;
  overflow-y: scroll;
  max-width: 250px;
  //min-width: 200px;
  height: 100%;
  margin:0;
  #profile-image {
    text-align:center;
    display:block;
    width: 180px;
    margin: 5px auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .btn {
    margin-top: 5px;
    width: 100%;
  }
}


.footer {
  @extend .nav ;
  a{
    @extend .nav-link;
    padding:0;

  }
  @extend .bg-dark;
  @extend .text-center;
  //position: relative;
  bottom: 0;
  width: 100%;
  //height: 25px; /* Set the fixed height of the footer here */
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.row, body{
  overflow-x: hidden;
}

input, textarea{
  @extend .form-control;
  border:1px solid;
  margin-bottom: 5px;
}
.form-group{
  input{
    display: inline-flex;
  }
}
//* {
//  background: #000 !important;
//  color: #0f0 !important;
//  outline: solid #f00 1px !important;
//}
